$primary-blue: #2777D3;
$dark-blue: darken(#2777D3, 10%);
$green: #63BFA2;
$purple: #6E65D7;
$primary-gray: #333333;
$primary-lighgray: #494949;
$soft-gray: #646C82;
$offwhite: #F1F2F2;

$large-p: 1.3rem;