header {
	padding: 0.5em;
	text-align: center;
	& > div {
		
		& > a {
			display: block;
		}
	}
}

@media (max-width: 600px) {
	header > div {
		
	}
}

@media (min-width: 1220px) {
	header>div {
		max-width: 1220px;
		margin-right: auto;
		margin-left: auto;
	}
}