.home-intro {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 2em;
    img {
        height: auto;
        width: 100%;
    }
    h1 {
        line-height: 1;
    }
    h1 > span {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 500;
    }
}
@media (max-width: 960px) {
    .home-intro {
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media (min-width: 961px) {
    .home-intro {
        max-width: 1220px;
        margin-right: auto;
        margin-left: auto;
        & > div {
            padding-left: 2em;
        }
    }
}