.portfolio-section {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: white;
}

.project-thumbs {
	text-align: center;
	max-width: 1220px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	margin-bottom: 2em;

	a {
		display: block;
		padding-top: 1em;
		border-radius: 3px;
		color: white;
		text-decoration: none;
		line-height: 0;
		background-color: $primary-blue;
		overflow: hidden;
		transition: all .2s ease-in;

		&:hover,
		&:focus {
			background-color: $dark-blue;
			transform: translateY(-10px);
			@include blue-boxshadow;
			outline: 0;
		}

		&>img {
			width: 100%;
		}
	}

}

.project-single {
	margin-bottom: 1em;

	a {
		display: grid;
		align-items: stretch;
		line-height: 1.35;
	}
}

@media (min-width: 1220px) {
	.project-single {
		flex-basis: 393px;
	}
}

.project-client {
	text-transform: uppercase;
	align-self: end;
}

.project-name {
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 0;
	align-self: center;
	color: white;
}

.project-description {
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 0;
}

@media (min-width: 680px) {
	.project-thumbs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
}

@media (min-width: 846px) and (max-width: 1220px) {
	.project-thumbs {
		max-width: 846px;
	}

	.project-single {
		flex-basis: calc(50% - 0.5em);
	}
}

/* Support grid */
@supports (display: grid) {
	.project-thumbs {
		display: grid;
		column-gap: 20px;
		row-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		justify-items: stretch;
		grid-auto-rows: 1fr;
	}
}