nav {
	display: none;
	width: 100%;
	position: fixed;
	bottom: 0;

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}

	li {
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}

	a {
		display: block;
		padding: 1em;
		color: white;
		background-color: black;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			background-color: $primary-gray;
		}
	}
}