nav {
	display: flex;
	a {
		display: flex;
		padding: 1em;
		font-size: .8em;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		background-color: $soft-gray;
		transition: all .2s ease-in;
		
		&:hover,
		&:focus {
			background-color: $primary-blue;
		}
		&:active {
			background-color: $primary-blue;
		}
		svg path {
			fill: white;
		}
	}
}

@media (max-width: 640px) {
	nav a {
		flex-direction: column;
		svg {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0.5em;
		}
	}
}

@media (min-width: 640px) {
	nav a {
		justify-content: center;
		align-items: center;
		svg {
			margin-right: 0.5em;
		}
	}
}

@media (max-width: 680px) {
	nav {
		width: 100%;
		span {
			flex: 1 0 auto;
		}
	}
}

@media (min-width: 680px) {
	nav {
		flex: 1 1 auto;
		justify-content: flex-end;
		span {
			margin-left: 1em;
		}
		a {
			border-radius: 3px;
			&:hover {
				@include blue-button-boxshadow;
			}
		}
	}
}