.project-featured {
  padding-bottom: 2em;
}

@media (max-width: 680px) {
  .project-featured {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.project-featured-image {
  min-width: 100%;
  height: auto;
}