.project-controls a {
    border-radius: 3px;
    padding-top: 1.1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background-color: $soft-gray;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus {
        background-color: $dark-blue;
        @include blue-button-boxshadow;
    }
    & span {
        display: block;
    }
    & .icon-left {
        margin-right: 10px;
    }
    & .icon-right {
        margin-left: 10px;
    }
    /* svg icon color */
}

@media (max-width: 40em) {
    .project-controls a:first-child {
        margin-top: 1em;
    }
}