.button {
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 0.9em;
    padding-right: 1.1em;
    padding-left: 1.1em;
    border-radius: 3px;
    background-color: $soft-gray;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    transition: all .2s ease-in;

    &:hover,
    &:focus {
        background-color: darken($primary-gray, 2%);
    }
}

.button--icon {
    padding-bottom: 1em;
    span {
        margin-left: 2px;
    }

    svg path {
        transition: all .2s ease-in;
    }

    &:hover svg path,
    &:focus svg path {
        fill: $primary-blue;
    }
}

.button--blue {
    background-color: $primary-blue;
    color: white;

    &:hover,
    &:focus {
        background-color: $dark-blue;
        @include blue-button-boxshadow;
    }
}

.button--green {
    background-color: $green;
    color: white;

    &:hover,
    &:focus {
        background-color: darken($green, 10%);
        @include green-button-boxshadow;
    }
}

.button--purple {
    background-color: $purple;
    color: white;

    &:hover,
    &:focus {
        background-color: darken($purple, 10%);
        @include green-button-boxshadow;
    }
}